@import "variables";

@media (max-width: $small) {
  p {
    font-size: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
}

@media (min-width: $small) and (max-width: $medium) {
  p {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2.5rem;
  }
}

@media (min-width: $medium) and (max-width: $large) {
  p {
    font-size: 2rem;
  }
  .title {
    font-size: 3rem;
  }
}

@media (min-width: $large) {
  p {
    font-size: 2.5rem;
  }
  .title {
    font-size: 4rem;
  }
}
